[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.9"
"psycopg2" = "*"
mozilla-django-oidc = "*"
drf-yasg = "*"
django-filter = "*"
inflection = "*"
gunicorn = "*"
django-nose = "*"
django-cors-headers = "*"
mandrill-really-maintained = "*"
docutils = "*"
django-background-tasks = "*"
bimdata-api-client = ">=2.3.1"
requests = "*"
drf-oidc-auth = {ref = "68a962446788ee55909f04daf2896b14820cfbec",git = "git://github.com/ByteInternet/drf-oidc-auth/"}
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.7"
