[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.2"
"psycopg2" = "*"
mozilla-django-oidc = "*"
drf-yasg = "*"
django-filter = "*"
inflection = "*"
gunicorn = "*"
django-nose = "*"
django-cors-headers = "*"
docutils = "*"
django-background-tasks = "*"
bimdata-api-client = ">=2.3.1"
requests = "*"
drf-oidc-auth = "==0.10.0"
djangorestframework = "*"
django-health-check = "*"
parameterized = "*"
pyjwkest = "*"
fluent-logger = "*"

[dev-packages]

[requires]
python_version = "3.8"
