[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
mozilla-django-oidc = "*"
django-rest-framework = "*"
drf-yasg = "*"
django-filter = "*"
inflection = "*"
gunicorn = "*"
django-nose = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.7"
