{% load i18n %}
{% load convert_str_date %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- fix WINDOWS PHONE 8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- google WEBFONT : Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <style type="text/css">
      @media only screen and (max-width: 480px) {
        /* style TABLE */
        table[class="container_table"] {
          width: 320px;
        }
        table[class="container_table-inner"] {
          width: 300px;
        }

        /* style TD */
        td[class="td_hidden"] {
          display: none;
        }
        td[class="td_block"] {
          width: 300px;
          display: block;
        }
        td[class="td_block-center"] {
          width: 300px;
          margin: auto;
          display: block;
        }
        td[class="td_img"] {
          margin: auto;
          width: 300px;
          display: block;
        }

        /* Mobile & Desktop */
        td[class="mobile-visible"] {
          display: block !important;
        }
        .mobile-visible {
          display: block !important;
        }
      }
    </style>
  </head>

  <body
    bgcolor="#F7F7F7"
    leftmargin="0"
    rightmargin="0"
    topmargin="0"
    bottommargin="0"
    alink="#2F374A"
    vlink="#2F374A"
    link="#2F374A"
  >
    <!-- LINE ==================================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F8C62C"
      align="center"
      width="640"
      height="4"
      style="border-collapse: collapse; display: block"
      class="container_table"
    >
      <tr height="8">
        <td height="8">&nbsp;</td>
      </tr>
    </table>

    <!-- HEADER ==================================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F7F7F7"
      align="center"
      width="640"
      style="border-collapse: collapse"
      class="container_table"
    >
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <img
            src="https://statics.bimdata.io/mails/img/platform/bimdata_logo-platform.png"
            width="166px"
            height="57px"
            style="display: block"
            border="0"
            alt="BIMData logo"
            title="BIMData logo"
          />
        </td>
      </tr>
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
    </table>

    <!-- CONTENT ============================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#FFFFFF"
      align="center"
      width="640"
      style="border-collapse: collapse"
      class="container_table"
    >
      <tr>
        <td height="50">&nbsp;</td>
      </tr>
      <tr>
        <td width="60" class="td_hidden">&nbsp;</td>
        <td align="center">
          <img
            src="https://statics.bimdata.io/mails/img/platform/notifications/visa_illustration.png"
            width="140px"
            height="135px"
            style="display: block"
            border="0"
            alt="Mailing Visa - icon visa"
            title="Mailing Visa - icon visa"
          />
        </td>
        <td width="60" class="td_hidden">&nbsp;</td>
      </tr>
      <tr>
        <td height="50">&nbsp;</td>
      </tr>
      <tr>
        <td width="60" class="td_hidden">&nbsp;</td>
        <td align="center" class="td_block-center" width="300">
          <strong
            style="
              font-family: Arial, sans-serif;
              color: #2f374a;
              font-size: 24px;
              line-height: 21px;
            "
          >
            {% trans "Ajout de nouveau visa" %}
          </strong>
        </td>
        <td width="60" class="td_hidden">&nbsp;</td>
      </tr>
      {% for visa in notifications %}
      <tr>
        <td height="35" colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            bgcolor="#FFFFFF"
            align="center"
            width="640"
            style="border-collapse: collapse"
            class="container_table"
          >
            <tr>
              <td width="90" align="center" valign="top" class="td_img">
                <img
                  src="https://statics.bimdata.io/mails/img/platform/notifications/visa_icon.png"
                  width="50px"
                  height="50px"
                  style="display: block"
                  border="0"
                  alt="Mailing VISA - icon visa"
                  title="Mailing VISA - icon visa"
                />
              </td>
              <td class="mobile-visible" style="display: none">&nbsp;</td>
              <td class="td_block-center" width="345">
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 13px;
                    line-height: 21px;
                  "
                >
                  {% blocktrans trimmed with firstname=visa.payload.visa.creator.firstname lastname=visa.payload.visa.creator.lastname project_name=visa.payload.project_name document_name=visa.payload.document_name deadline=visa.payload.visa.deadline|convert_isostr_date|date:"DATE_FORMAT" %}
                    <strong>{{ firstname }} {{ lastname }}</strong> a ajouté une nouvelle demande
                    de validation dans le projet : {{ project_name }} sur le document
                    <strong style="color: #2f374a; font-size: 14px">{{ document_name }}</strong>
                    à valider avant le
                    <strong style="color: #2f374a; font-size: 14px">{{ deadline }}</strong>.
                  {% endblocktrans %}
                </span>
              </td>
              <td class="mobile-visible" style="display: none">&nbsp;</td>
              <!-- BLOC BTN ============================== -->
              <td width="160" class="td_block">
                <table
                  align="center"
                  width="120"
                  bgcolor="#2f374a"
                  border="0"
                  style="border-collapse: collapse"
                >
                  <tr>
                    <td align="center" height="30" width="120">
                      <strong>
                        <a
                          href="{{ platform_url }}/spaces/{{ visa.payload.cloud_id }}/projects/{{ visa.payload.project_id }}?visaId={{ visa.payload.visa.id }}#files"
                          style="
                            font-family: Arial, sans-serif;
                            color: #fff;
                            font-size: 13px;
                            line-height: 21px;
                            text-decoration: none;
                          "
                        >
                          {% trans "Voir le projet" %}
                        </a>
                      </strong>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="25" class="">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="1" colspan="5">
          <hr style="height: 1px; background-color: #f7f7f7; border: none" />
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
