{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- fix WINDOWS PHONE 8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- google WEBFONT : Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <title>{% trans "Notifications" %}</title>

    <style type="text/css">
    </style>
  </head>

  <body>

    <p>{{ notifications }}</p>
    <p>{{ platform_url }}</p>

  </body>
</html>
