{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- fix WINDOWS PHONE 8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- google WEBFONT : Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <title>{% trans "Notifications BFC" %}</title>

    <style type="text/css">
      @media only screen and (max-width: 480px) {
        /* style TABLE */
        table[class="container_table"] {
          width: 320px;
        }
        table[class="container_table-inner"] {
          width: 300px;
        }

        /* style TD */
        td[class="td_hidden"] {
          display: none;
        }
        td[class="td_block"] {
          width: 300px;
          display: block;
        }
        td[class="td_block-center"] {
          width: 300px;
          margin: auto;
          display: block;
        }
        td[class="td_img"] {
          margin: auto;
          width: 300px;
          display: block;
        }

        /* Mobile & Desktop */
        td[class="mobile-visible"] {
          display: block !important;
        }
        .mobile-visible {
          display: block !important;
        }
      }
    </style>
  </head>

  <body
    bgcolor="#F7F7F7"
    leftmargin="0"
    rightmargin="0"
    topmargin="0"
    bottommargin="0"
    alink="#2F374A"
    vlink="#2F374A"
    link="#2F374A"
  >
    <!-- LINE ==================================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F8C62C"
      align="center"
      width="640"
      height="4"
      style="border-collapse: collapse; display: block"
      class="container_table"
    >
      <tr height="8">
        <td height="8">&nbsp;</td>
      </tr>
    </table>

    <!-- HEADER ==================================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F7F7F7"
      align="center"
      width="640"
      style="border-collapse: collapse"
      class="container_table"
    >
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <img
            src="https://statics.bimdata.io/mails/img/platform/bimdata_logo-platform.png"
            width="166px"
            height="57px"
            style="display: block"
            border="0"
            alt="BIMData logo"
            title="BIMData logo"
          />
        </td>
      </tr>
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
    </table>

    <!-- CONTENT ============================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#FFFFFF"
      align="center"
      width="640"
      style="border-collapse: collapse"
      class="container_table"
    >
      <tr>
        <td height="50">&nbsp;</td>
      </tr>
      <tr>
        <td width="60" class="td_hidden">&nbsp;</td>
        <td align="center">
          <img
            src="https://statics.bimdata.io/mails/img/platform/notifications/bcf_illustration.png"
            width="140px"
            height="135px"
            style="display: block"
            border="0"
            alt="Mailing BCF - icon bcf"
            title="Mailing BCF - icon bcf"
          />
        </td>
        <td width="60" class="td_hidden">&nbsp;</td>
      </tr>
      <tr>
        <td height="50" colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td width="60" class="td_hidden">&nbsp;</td>
        <td align="center" class="td_block-center" width="520">
          <strong
            style="
              font-family: Arial, sans-serif;
              color: #2f374a;
              font-size: 24px;
              line-height: 21px;
            "
          >
            {% blocktrans trimmed %}
              Ajout d’un nouveau BCF
            {% endblocktrans %}
          </strong>
        </td>
        <td width="60" class="td_hidden">&nbsp;</td>
      </tr>
      <tr>
        <td height="48" colspan="5">&nbsp;</td>
      </tr>
    </table>
    {% if notifications|length < 4 %} {% for bcf in notifications %}
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#FFFFFF"
      align="center"
      width="640"
      style="border-collapse: collapse"
      class="container_table"
    >
      <tr>
        <td height="35" colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <!-- BLOC LEFT ============================== -->
        <td width="90" align="center" valign="top" class="td_img">
          <img
            src="https://statics.bimdata.io/mails/img/platform/notifications/bcf_icon.png"
            width="50px"
            height="50px"
            style="display: block"
            border="0"
            alt="Mailing BCF - icon bcf"
            title="Mailing BCF - icon bcf"
          />
        </td>

        <!-- BLOC RIGHT ============================== -->
        <td width="510" class="td_block-center">
          <table
            align="center"
            width="510"
            bgcolor="#fff"
            border="0"
            style="border-collapse: collapse"
            class="container_table-inner"
          >
            <tr>
              <td class="mobile-visible" style="display: none">&nbsp;</td>
            </tr>
            <tr>
              <!-- BLOC TEXT --------------------- -->
              <td colspan="5">
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 13px;
                    line-height: 20px;
                  "
                >
                  {% blocktrans trimmed with email_author=bcf.payload.topic.creation_author project_name=bcf.payload.project_name %}
                  <strong>{{ email_author }}</strong> a
                  créé un nouveau BCF dans le projet <strong>{{ project_name }}</strong>.
                  {% endblocktrans %}
                </span>
              </td>
            </tr>
            <tr>
              <td height="5">&nbsp;</td>
            </tr>
            <tr>
              <!-- BLOC BCF TITLE --------------------- -->
              <td colspan="5">
                <strong
                  style="
                    font-family: Arial, sans-serif;
                    color: #2f374a;
                    font-size: 14px;
                    line-height: 22px;
                  "
                  >{{ bcf.payload.topic.title }}</strong
                >
              </td>
            </tr>
            <tr>
              <td height="5">&nbsp;</td>
            </tr>
            <tr>
              <!-- bloc BCF DESCRIPTION --------------------- -->
              <td colspan="5">
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  <strong>Description: </strong><br />
                  {% if bcf.payload.topic.description %}
                  {{ bcf.payload.topic.description }}
                  {% else %}
                  {% trans "Pas de description renseignée" %}
                  {% endif %}
                </span>
              </td>
            </tr>
            <tr>
              <td height="5">&nbsp;</td>
            </tr>
            <tr>
              <!-- bloc BCF DUE DATE --------------------- -->
              <td width="170" class="td_block" valign="top">
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  <strong>Due date: </strong><br />
                  {% if bcf.payload.topic.due_date %}
                  {{ bcf.payload.topic.due_date }}
                  {% else %}
                  {% trans "Pas de date d'échéance" %}
                  {% endif %}
                </span>
              </td>
              <td width="5" class="td_hidden">&nbsp;</td>
              <!-- bloc BCF PRIORITY --------------------- -->
              <td width="170" class="td_block" valign="top">
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  <strong>Priorité: </strong><br />
                  {% if bcf.payload.topic.priority %}
                  {{ bcf.payload.topic.priority }}
                  {% else %}
                  {% trans "Non défini" %}
                  {% endif %}
                </span>
              </td>
              <td width="5" class="td_hidden">&nbsp;</td>
              <!-- bloc BCF TYPE --------------------- -->
              <td width="170" class="td_block" valign="top">
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  <strong>Type: </strong><br />
                  {% if bcf.payload.topic.topic_type %}
                  {{ bcf.payload.topic.topic_type }}
                  {% else %}
                  {% trans "Pas de type spécifié" %}
                  {% endif %}
                </span>
              </td>
            </tr>
            <tr>
              <td height="10" class="">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <!-- BLOC BTN ============================== -->
                <table
                  align="center"
                  width="170"
                  bgcolor="#2f374a"
                  border="0"
                  style="border-collapse: collapse"
                >
                  <tr>
                    <td align="center" height="30" width="170">
                      <strong>
                        <a
                          href="{{ platform_url }}/spaces/{{ bcf.payload.cloud_id }}/projects/{{ bcf.payload.project_id }}#bcf"
                          style="
                            font-family: Arial, sans-serif;
                            color: #fff;
                            font-size: 13px;
                            line-height: 21px;
                            text-decoration: none;
                          "
                        >
                          {% trans "Voir le BCF" %}
                        </a>
                      </strong>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="25" class="" colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td height="1" colspan="5">
          <hr style="height: 1px; background-color: #f7f7f7; border: none" />
        </td>
      </tr>
    </table>
    {% endfor %} {% else %}
    {% for bcf in notifications %}
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#FFFFFF"
      align="center"
      width="640"
      style="border-collapse: collapse"
      class="container_table"
    >
      <tr>
        <td height="35" colspan="5">&nbsp;</td>
      </tr>

      <tr>
        <td align="center" class="td_block-center" width="520" colspan="5">
          <table>
            <tr>
              <td width="20" class="td_hidden">&nbsp;</td>
              <td align="center">
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  {% blocktrans trimmed with email_author=bcf.payload.topic.creation_author project_name=bcf.payload.project_name %}
                  {{ email_author }} a créé un nouveau BCF
                  dans le projet {{ project_name }}.
                  {% endblocktrans %}
                </span>
              </td>
              <td width="20" class="td_hidden">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="25" class="" colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td width="20" class="td_hidden">&nbsp;</td>
        <!-- BLOC LEFT ============================== -->
        <td width="200" align="center" class="td_block-center">
          <table>
            <tr>
              <td>
                <strong
                  style="
                    font-family: Arial, sans-serif;
                    color: #2f374a;
                    font-size: 14px;
                    line-height: 22px;
                  "
                  >{{ bcf.payload.topic.title }}</strong
                >
              </td>
            </tr>
            <tr>
              <td>
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  <strong>Description: </strong>
                  {% if bcf.payload.topic.description %}
                  {{ bcf.payload.topic.description }}
                  {% else %}
                  {% trans "Pas de description renseignée" %}
                  {% endif %}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  <strong>Due date: </strong>
                  {% if bcf.payload.topic.due_date %}
                  {{ bcf.payload.topic.due_date }}
                  {% else %}
                  {% trans "Pas de date d'échéance" %}
                  {% endif %}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  <strong>Priorité: </strong>
                  {% if bcf.payload.topic.priority %}
                  {{ bcf.payload.topic.priority }}
                  {% else %}
                  {% trans "Non défini" %}
                  {% endif %}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span
                  style="
                    font-family: Arial, sans-serif;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                  "
                >
                  <strong>Type: </strong>
                  {% if bcf.payload.topic.topic_type %}
                  {{ bcf.payload.topic.topic_type }}
                  {% else %}
                  {% trans "Pas de type spécifié" %}
                  {% endif %}
                </span>
              </td>
            </tr>
          </table>
        </td>
        <td width="40" class="td_hidden">&nbsp;</td>
        <!-- BLOC RIGHT ============================== -->
        <td width="200" class="td_block">
          <table
            align="center"
            width="200"
            bgcolor="#fff"
            border="0"
            style="border-collapse: collapse"
          >
            <tr>
              <td>
                <!-- BLOC BTN ============================== -->
                <table
                  align="center"
                  width="200"
                  bgcolor="#2f374a"
                  border="0"
                  style="border-collapse: collapse"
                >
                  <tr>
                    <td align="center" height="30" width="230">
                      <strong>
                        <a
                          href="{{ platform_url }}/spaces/{{ bcf.payload.cloud_id }}/projects/{{ bcf.payload.project_id }}#bcf"
                          style="
                            font-family: Arial, sans-serif;
                            color: #fff;
                            font-size: 16px;
                            line-height: 21px;
                            text-decoration: none;
                          "
                        >
                          {% trans "Voir le BCF" %}
                        </a>
                      </strong>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
      </tr>
      <tr>
        <td height="25" class="" colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td height="1" colspan="5">
          <hr style="height: 1px; background-color: #f7f7f7; border: none" />
        </td>
      </tr>
    </table>
    {% endfor %} {% endif %}
  </body>
</html>
