{% load i18n %} {% load convert_str_date %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- fix WINDOWS PHONE 8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- google WEBFONT : Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <style type="text/css">
      @media only screen and (max-width: 480px) {
        /* style TABLE */
        table[class="container_table"] {
          width: 320px;
        }
        table[class="container_table-inner"] {
          width: 300px;
        }

        /* style TD */
        td[class="td_hidden"] {
          display: none;
        }
        td[class="td_block"] {
          width: 300px;
          display: block;
        }
        td[class="td_block-center"] {
          width: 300px;
          margin: auto;
          display: block;
        }
        td[class="td_img"] {
          margin: auto;
          width: 300px;
          display: block;
        }

        /* Mobile & Desktop */
        td[class="mobile-visible"] {
          display: block !important;
        }
        .mobile-visible {
          display: block !important;
        }
      }
    </style>
  </head>

  <body
    bgcolor="#F7F7F7"
    leftmargin="0"
    rightmargin="0"
    topmargin="0"
    bottommargin="0"
    alink="#2F374A"
    vlink="#2F374A"
    link="#2F374A"
  >
   <!-- LINE ==================================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F8C62C"
      align="center"
      width="640"
      height="4"
      style="border-collapse: collapse; display: block"
      class="container_table"
    >
      <tr height="8">
        <td height="8">&nbsp;</td>
      </tr>
    </table>

    <!-- HEADER ==================================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F7F7F7"
      align="center"
      width="640"
      style="border-collapse: collapse"
      class="container_table"
    >
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <img
            src="https://statics.bimdata.io/mails/img/platform/bimdata_logo-platform.png"
            width="166px"
            height="57px"
            style="display: block"
            border="0"
            alt="BIMData logo"
            title="BIMData logo"
          />
        </td>
      </tr>
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
    </table>

    <!-- CONTENT ============================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#fff"
      align="center"
      width="640"
      style="border-collapse: collapse; display: block"
      class="container_table"
    >
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <strong style="font-family: Arial, sans-serif; font-size:24px;">
          {% trans "Notifications activités projet" %}
          </strong>
        </td>
      </tr>
      {% if document_creation %}
      {% with file=document_creation.0 %}
      <tr>
        <td colspan="3" align="center">
          <span style="font-family: Arial, sans-serif; font-size:20px;">{{ file.project.name }}</span>
        </td>
      </tr>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      {% endwith %}
      <tr>
        <td colspan="3">
          <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Nouveaux fichiers" %} </strong>
        </td>
      </tr>
      {% for file in document_creation %}
      <tr>
        <td width="210">
          <span>
          {% if file.document.name %}
          {{file.document.name }}
          {% else %}
          {{file.document.file_name}}
          {% endif %}
          </span>
        </td>
        <td width="210">
          <span>{{file.document.created_by.lastname}} {{file.document.created_by.firstname}}</span>
        </td>
        <td width="210">
          <span>{{ file.document.created_at|date:"d M Y H:i" }}</span>
        </td>
      </tr>
      {% endfor %} {% endif %}

      <!-- document_deletion ============================== -->
      {% if document_deletion %}
      <tr>
        <td>document_deletion here :</td>
      </tr>
      <tr>
        <td>
        {% for file in document_deletion %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- folder_creation ============================== -->
      {% if folder_creation %}
      <tr>
        <td>folder_creation here :</td>
      </tr>
      <tr>
        <td>
        {% for file in folder_creation %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- folder_deletion ============================== -->
      {% if folder_deletion %}
      <tr>
        <td>folder_deletion here :</td>
      </tr>
      <tr>
        <td>
        {% for file in folder_deletion %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- visa_creation ============================== -->
      {% if visa_creation %}
      <tr>
        <td>visa_creation here :</td>
      </tr>
      <tr>
        <td>
        {% for file in visa_creation %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}
        
      <!-- visa_deletion ============================== -->
      {% if visa_deletion %}
      <tr>
        <td>visa_deletion here :</td>
      </tr>
      <tr>
        <td>
        {% for file in visa_deletion %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- visa_validation ============================== -->
      {% if visa_validation %}
      <tr>
        <td>visa_validation here :</td>
      </tr>
      <tr>
        <td>
        {% for file in visa_validation %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- visa_denied ============================== -->
      {% if visa_denied %}
      <tr>
        <td>visa_denied here :</td>
      </tr>
      <tr>
        <td>
        {% for file in visa_denied %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- bcf_topic_creation ============================== -->
      {% if bcf_topic_creation %}
      <tr>
        <td>bcf_topic_creation here :</td>
      </tr>
      <tr>
        <td>
        {% for file in bcf_topic_creation %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- bcf_topic_deletion ============================== -->
      {% if bcf_topic_deletion %}
      <tr>
        <td>bcf_topic_deletion here :</td>
      </tr>
      <tr>
        <td>
        {% for file in bcf_topic_deletion %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- invitation_accepted ============================== -->
      {% if invitation_accepted %}
      <tr>
        <td>invitation_accepted here :</td>
      </tr>
      <tr>
        <td>
        {% for file in invitation_accepted %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

       <!-- model_creation ============================== -->
      {% if model_creation %}
      <tr>
        <td>model_creation here :</td>
      </tr>
      <tr>
        <td>
        {% for file in model_creation %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

      <!-- model_deletion ============================== -->
      {% if model_deletion %}
      <tr>
        <td>model_deletion here :</td>
      </tr>
      <tr>
        <td>
        {% for file in model_deletion %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

       <!-- document_new_version ============================== -->
      {% if document_new_version %}
      <tr>
        <td>document_new_version here :</td>
      </tr>
      <tr>
        <td>
        {% for file in document_new_version %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}
  
    </table>
  </body>
</html>
