{% load i18n %} {% load convert_str_date %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- fix WINDOWS PHONE 8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- google WEBFONT : Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <style type="text/css">
      @media only screen and (max-width: 480px) {
        /* style TABLE */
        table[class="container_table"] {
          width: 320px;
        }
        table[class="container_table-inner"] {
          width: 300px;
        }

        /* style TD */
        td[class="td_hidden"] {
          display: none;
        }
        td[class="td_block"] {
          width: 300px;
          display: block;
        }
        td[class="td_block-center"] {
          width: 300px;
          margin: auto;
          display: block;
        }
        td[class="td_img"] {
          margin: auto;
          width: 300px;
          display: block;
        }

        /* Mobile & Desktop */
        td[class="mobile-visible"] {
          display: block !important;
        }
        .mobile-visible {
          display: block !important;
        }
      }
    </style>
  </head>

  <body
    bgcolor="#F7F7F7"
    leftmargin="0"
    rightmargin="0"
    topmargin="0"
    bottommargin="0"
    alink="#2F374A"
    vlink="#2F374A"
    link="#2F374A"
  >
  <!-- LINE ==================================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F8C62C"
      align="center"
      width="640"
      height="4"
      style="border-collapse: collapse; display: block"
      class="container_table"
    >
      <tr height="8">
        <td height="8">&nbsp;</td>
      </tr>
    </table>

  <!-- HEADER ==================================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F7F7F7"
      align="center"
      width="640"
      style="border-collapse: collapse"
      class="container_table"
    >
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <img
            src="https://statics.bimdata.io/mails/img/platform/bimdata_logo-platform.png"
            width="166px"
            height="57px"
            style="display: block"
            border="0"
            alt="BIMData logo"
            title="BIMData logo"
          />
        </td>
      </tr>
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
    </table>

  <!-- CONTENT ============================== -->
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#fff"
      align="center"
      width="640"
      style="border-collapse: collapse; display: block"
      class="container_table"
    >
      <tr>
        <td height="38">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <strong style="font-family: Arial, sans-serif; font-size:24px;">
          {% trans "Notifications activités projet" %}
          </strong>
        </td>
      </tr>

  <!-- GED ==================================== -->
    {% if document_creation or document_deletion or folder_creation or folder_deletion %}
    <tr>
      <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:18px;">GED</strong>
      </td>
    </tr>
    <!-- document_creation ============================== -->
      {% if document_creation %}
      <tr>
        <td height="20" colspan="3">&nbsp;</td>
      </tr>
      {% with file=document_creation.0 %}
      <tr>
        <td colspan="3">
          <span style="font-family: Arial, sans-serif; font-size:13px;">
            {% trans "Nouveaux fichiers dans le projet :" %}<strong>{{ file.project.name }}</strong>
          </span>
        </td>
      </tr>
      {% endwith %}
      {% for file in document_creation %}
      <tr>
        <td width="640">
          <span style="font-family: Arial, sans-serif; font-size:13px; color: #2F374A; font-weight: medium;">
          {% if file.document.name %}
            {{file.document.name }}
          {% else %}
            {{file.document.file_name}}
          {% endif %}
          </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span style="font-family: Arial, sans-serif; font-size:13px; color: #2F374A;">{{file.document.created_by.email}}</span>
        </td>
        <td width="320">
          <span style="font-family: Arial, sans-serif; font-size:13px; color: #2F374A;">{{ file.document.created_at|date:"d M Y H:i" }}</span>
        </td>
      </tr>
      {% endfor %} {% endif %}

    <!-- document_deletion ============================== -->
      {% if document_deletion %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Suppression fichier" %}</strong></td>
      </tr>
      <tr>
        <td>
        {% for file in document_deletion %}
        {{ file }}
        {% endfor %}
        </td>
      </tr>
      {% endif %}

    <!-- folder_creation ============================== -->
      {% if folder_creation %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Création dossier" %}</strong></td>
      </tr>
      {% for folder in folder_creation %}
      <tr>
        <td width="640">
          <span> {{folder.name}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{folder.created_by.email}}</span>
        </td>
        <td width="320">
          <span>{{ folder.created_at|date:"d M Y" }} {{ folder.created_at|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    <!-- folder_deletion ============================== -->
      {% if folder_deletion %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Suppression de dossier" %}</strong></td>
      </tr>
      {% for folder in folder_deletion %}
      <tr>
        <td width="640">
          <span> {{folder.name}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{folder.created_by.email}}</span>
        </td>
        <td width="320">
          <span>{{ folder.updated_at|date:"d M Y" }} {{ folder.updated_at|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% endif %}

  <!-- VISA ==================================== -->
      {% if visa_creation or visa_deletion or visa_validation or visa_denied %}
      <tr>
        <td colspan="3">
          <strong style="font-family: Arial, sans-serif; font-size:18px;">VISA</strong>
        </td>
      </tr>
    <!-- visa_creation ============================== -->
      {% if visa_creation %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Création Visa" %}</strong></td>
      </tr>
      {% for visa in visa_creation %}
      <tr>
        <td width="640">
          <span> {{visa.name}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{visa.creator.email}}</span>
        </td>
        <td width="320">
          <span>{{ visa.updated_at|date:"d M Y" }} {{ visa.updated_at|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
        
    <!-- visa_deletion ============================== -->
      {% if visa_deletion %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Suppression de visa" %}</strong></td>
      </tr>
      {% for visa in visa_deletion %}
      <tr>
        <td width="640">
          <span> {{visa.name}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{visa.created_by.email}}</span>
        </td>
        <td width="320">
          <span>{{ visa.updated_at|date:"d M Y" }} {{ visa.updated_at|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    <!-- visa_validation ============================== -->
      {% if visa_validation %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Suppression de visa" %}</strong></td>
      </tr>
      {% for visa in visa_validation %}
      <tr>
        <td width="640">
          <span> {{visa.name}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{visa.created_by.email}}</span>
        </td>
        <td width="320">
          <span>{{ visa.updated_at|date:"d M Y" }} {{ visa.updated_at|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    <!-- visa_denied ============================== -->
      {% if visa_denied %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Suppression de visa" %}</strong></td>
      </tr>
      {% for visa in visa_denied %}
      <tr>
        <td width="640">
          <span> {{visa.name}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{visa.created_by.email}}</span>
        </td>
        <td width="320">
          <span>{{ visa.updated_at|date:"d M Y" }} {{ visa.updated_at|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% endif %}

  <!-- BCF ==================================== -->
      {% if bcf_topic_creation or bcf_topic_deletion %}
      <tr>
        <td colspan="3">
          <strong style="font-family: Arial, sans-serif; font-size:18px;">BCF</strong>
        </td>
      </tr>
    <!-- bcf_topic_creation ============================== -->
      {% if bcf_topic_creation %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Bcf créés" %}</strong></td>
      </tr>
      {% for bcf in bcf_topic_creation %}
      <tr>
        <td width="640">
          <span> {{bcf.title}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{bcf.creation_author}}</span>
        </td>
        <td width="320">
          <span>{{ bcf.creation_date|date:"d M Y" }} {{ bcf.creation_date|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    <!-- bcf_topic_deletion ============================== -->
      {% if bcf_topic_deletion %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Bcf supprimés" %}</strong></td>
      </tr>
      {% for bcf in bcf_topic_deletion %}
      <tr>
        <td width="640">
          <span> {{bcf.title}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{bcf.creation_author}}</span>
        </td>
        <td width="320">
          <span>{{ bcf.creation_date|date:"d M Y" }} {{ bcf.creation_date|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% endif %}

  <!-- Autres évènements ==================================== -->
      {% if invitation_accepted or model_creation or model_deletion or document_new_version %}
      <tr>
        <td colspan="3">
          <strong style="font-family: Arial, sans-serif; font-size:18px;">Aures évènements</strong>
        </td>
      </tr>
    <!-- invitation_accepted ============================== -->
      {% if invitation_accepted %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Invitations acceptées" %}</strong></td>
      </tr>
      {% for invitation in invitation_accepted %}
      <tr>
        <td width="640">
          <span> {{invitation}} </span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    <!-- model_creation ============================== -->
      {% if model_creation %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Models crées" %}</strong></td>
      </tr>
      {% for model in model_creation %}
      <tr>
        <td width="640">
          <span> {{model}} </span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    <!-- model_deletion ============================== -->
      {% if model_deletion %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Models supprimés" %}</strong></td>
      </tr>
      {% for model in model_deletion %}
      <tr>
        <td width="640">
          <span> {{model}} </span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}

    <!-- document_new_version ============================== -->
      {% if document_new_version %}
      <tr>
        <td colspan="3">
        <strong style="font-family: Arial, sans-serif; font-size:13px;"> {% trans "Nouvelles versions de document" %}</strong></td>
      </tr>
      {% for document in document_new_version %}
      <tr>
        <td width="640">
          <span> {{document.document.name}} </span>
        </td>
      </tr>
      <tr>
        <td width="320">
          <span>{{document.created_by.email}}</span>
        </td>
        <td width="320">
          <span>{{ document.updated_at|date:"d M Y" }} {{ document.updated_at|time:"H:i" }}</span>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% endif %}
  
    </table>
  </body>
</html>
