{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="userName">
    Not connected
</div>
<div id="userBackPlat">
</div>
<script>
    var accessToken = sessionStorage.getItem('accessToken')
    $.ajax({
        url: "http://localhost:8081/user",
        type: "GET",
        beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer '+ accessToken);},
        success: function(data) {
            $("#userName").html(`Bienvenue, ${data.email}`);
        }
    });
    $.ajax({
        url: "{% url 'v1:me' %}",
        type: "GET",
        beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer '+ accessToken);},
        success: function(data) {
            $("#userBackPlat").html(`${data.id}-${data.demo_project}-${data.demo_cloud}`);
        }
    });

</script>
{% endblock content %}
