{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p> not authenticated</p>
    <div class="buttons">
          <button onClick="OIDC.login( {scope : '{{ OIDC_RP_SCOPES }}', response_type : '{{ OIDC_AUTH_REQUEST_RESPONSE_TYPE }}'} );"
          type="button" class="btn btn-success">Authenticate</button>
  </div>
{% endblock content %}


{% block additionnal_script %}
    <script>
      var clientInfo = {
        client_id : '{{ OIDC_RP_CLIENT_ID }}',
        redirect_uri : '{{ OIDC_AUTHENTICATION_CALLBACK_URL }}'
      };
      var providerInfo = OIDC.discover('{{ OIDC_OP_ISSUER }}');
      OIDC.setProviderInfo(providerInfo);
      OIDC.setClientInfo(clientInfo);
      OIDC.storeInfo(providerInfo, clientInfo);
    </script>
{% endblock additionnal_script %}
